dl {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
dt {
    font-weight: bold;
    margin-top: 200rem;
    margin-bottom: 0.5rem;
  }
  
dd {
    margin-left: 65rem;
    margin-bottom: 1rem;
  }
  